.move-button{
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  background-color: black;
}
.move-img{
  width: 50px;
}
.moves{
  display: grid;
  grid-template-columns: 120px 120px 120px;
  column-gap: 10px;
}
.reset-button{
  font-size: 15px;
  padding: 8px 15px;
}
.js-result{
  font-size: 32px;
  font-weight: bold;
}
.js-score{
  margin-top: 40px;
}
.title{
  font-size: 32px;
  font-weight: bold;
}
body{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
