.move-button{
  width: 120px;
  height: 120px;
  border-radius: 60px;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  background-color: black;
}
.move-img{
  width: 50px;
}
.moves{
  display: grid;
  grid-template-columns: 120px 120px 120px;
  column-gap: 10px;
}
body{
  background-color: black;
  color: white;
}